body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
}

.main-box {
	padding: 0;
	margin: 0;
}

/* =================
    Typography
   ================= */

h1 {
	font-size: 2.5rem;
	text-shadow: 0 2px 1.5px #816fca;
	font-weight: 400;
}

h2 {
	font-size: 2.25rem;
	margin: 0.167em 0;
}

p {
	font-size: 1.125rem;
	line-height: 1.35;
}

.beta-text {
	font-weight: 900;
}

.subheading {
	color: #575757;
	font-weight: 900;
	margin-bottom: 0.5em;
}

.beta-text,
.subheading {
	text-transform: uppercase;
}

/* =================
    Flex Containers
   ================= */
.intro,
.main-content {
	display: flex;
	flex-direction: column;
}

/* =================
    Intro
   ================= */

.intro {
	color: #fff;
	background-color: #9480e4;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 250px;
}

/* ====================
    Main content
   ==================== */

.main-content {
	justify-content: center;
	align-items: center;
	padding: 2.5em 0 2.5em 2em;
}

.main-content p {
	text-align: left;
	margin-top: 1em;
	padding: 0 1em 0 2em;
}

.img-main {
	width: 120px;
	border-radius: 50%;
}

/* =================
    Form
   ================= */

/* =================
    Media queries
   ================= */

@media (min-width: 800px) {
	.parent {
		display: flex;
	}

	.intro,
	.main-content {
		width: 50%;
        min-height: 100vh;
	}
	.intro {
		padding: 2em;
	}
}
