:root {
	--primary-color: #b22222;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
}

.main-box {
	padding: 0;
	margin: 0;
}

/* =================
    Typography
   ================= */

h1 {
	font-size: 2.5rem;
	text-shadow: 0 2px 1.5px var(--primary-color);
	font-weight: 400;
}

h2 {
	font-size: 2.25rem;
	margin: 0.167em 0;
}

p {
	font-size: 1.125rem;
	line-height: 1.35;
}

.beta-text {
	font-weight: 900;
}

.subheading {
	color: #575757;
	font-weight: 900;
	margin-bottom: 0.5em;
}

.beta-text,
.subheading {
	text-transform: uppercase;
}

/* =================
    Flex Containers
   ================= */
.intro,
.main-content {
	display: flex;
	flex-direction: column;
	min-height: 50vh;
}

.parent {
	display: flex;
}

/* =================
    Intro
   ================= */
/*
  Challenge: Apply a full background image
    - Set the background of .intro to the image `intro-bg.png`
    - The background image should scale to fill the entire
      width and height of .intro while preserving its ratio
*/


.intro {
	color: #fff;
	/* background-color: #9480e4; */
	background-color: var(--primary-color);
	align-items: center;
	justify-content: center;
	text-align: center;
	/* min-height: 250px; */
}

/* ====================
    Main content
   ==================== */

.main-content {
	justify-content: center;
	align-items: center;
	padding: 2.5em 0 2.5em 2em;
}

.main-content p {
	text-align: left;
	margin-top: 1em;
	padding: 0 1em 0 2em;
}

.img-main {
	width: 120px;
	border-radius: 50%;
	border: 0.01px solid var(--primary-color);
}

/* =================
    Form
   ================= */

/* =================
    Media queries
   ================= */

@media (min-width: 800px) {
	.parent {
		display: flex;
	}

	.intro,
	.main-content {
		width: 50%;
		min-height: 100vh;
	}

	.main-content {
		padding: 0;
	}

	h1 {
		/* font-size: 3.25rem; */
		font-size: 2.5vw;
	}
	h2 {
		font-size: 2.625rem;
	}
	.beta-text {
		font-size: 1.25rem;
	}
}
