:root {
	--primary-color: #b22222;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
}

.main-box {
	padding: 0;
	margin: 0;
}

/* =================
    Typography
   ================= */

h1 {
	font-size: 2.5rem;
	text-shadow: 0 2px 1.5px var(--primary-color);
	font-weight: 400;
}

h2 {
	font-size: 2.25rem;
	margin: 0.167em 0;
}

p {
	font-size: 1.125rem;
	line-height: 1.35;
}

.beta-text {
	font-weight: 900;
	padding-bottom: 0.5em;
}

.subheading {
	color: #575757;
	font-weight: 900;
	margin-bottom: 0.5em;
}

.beta-text,
.subheading {
	text-transform: uppercase;
}

.fine-print {
	font-size: 0.75rem;
	letter-spacing: 1px;
	color: #858585;
}

.power {
	padding: 0;
	margin: 0;
	border-top: 5px solid whitesmoke;
	text-transform: uppercase;
	font-size: 1.25rem !important;
}

/* =================
    Flex Containers
   ================= */
.intro,
.main-content {
	display: flex;
	flex-direction: column;
	min-height: 50vh;
}

.parent {
	display: flex;
}

/* =================
    Intro
   ================= */

.intro {
	color: #fff;
	background-color: var(--primary-color);
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

/* ====================
    Main content
   ==================== */

.main-content {
	justify-content: center;
	align-items: center;
	padding: 2.5em 0 2.5em 0;
}

.main-content p {
	text-align: left;
	margin-top: 1em;
	padding: 0 1em 0 2em;
}

.img-main {
	width: 120px;
	border-radius: 50%;
	border: 0.01px solid var(--primary-color);
}

.main-content p,
form {
	max-width: 500px;
}

/* =================
    Form
   ================= */
form {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: inherit;
}

form input {
	margin: 0 2.5em 1em 2.5em;
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 5px;
}

input:focus {
	outline: none;
	border-color: var(--primary-color);
	background-color: rgb(232, 232, 232);
}

.btn-primary {
	background-color: var(--primary-color);
	border: none;
	margin: 0.5em 2em 1em 2em;
}

#mybutton:hover,
#mybutton:focus,
#mybutton:active {
	background-color: rgba(178, 34, 34, 0.909);
}



/* =================
    Media queries
   ================= */

@media (min-width: 800px) {
	.parent {
		display: flex;
	}

	.intro,
	.main-content {
		width: 50%;
		min-height: 100vh;
	}

	.main-content {
		padding: 0;
	}

	h1 {
		/* font-size: 3.25rem; */
		font-size: 2.5vw;
	}
	h2 {
		font-size: 2.625rem;
	}
	.beta-text {
		font-size: 1.25rem;
	}
}
